mycroft-microphone-speaker/node-red-flow-mycroft-skill
[{"id":"4ffe244d.5b58ac","type":"template","z":"44deb5e5.fc253c","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"startMic command received!","output":"str","x":280,"y":60,"wires":[["7ea645d3.fc67cc"]]},{"id":"7ea645d3.fc67cc","type":"http response","z":"44deb5e5.fc253c","name":"","statusCode":"200","headers":{},"x":440,"y":60,"wires":[]},{"id":"69dbdf86.ca933","type":"function","z":"44deb5e5.fc253c","name":"stopMic","func":"msg.payload = \"stopMic\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":320,"wires":[["4fce0851.891f9"]]},{"id":"7fbbbea7.61152","type":"template","z":"44deb5e5.fc253c","name":"mycroft.mic.listen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\":\"mycroft.mic.listen\",\"data\":{},\"context\":{}}","output":"str","x":310,"y":120,"wires":[["45963e6a.462f6","e7654f32.4ef4e","774c4ef0.2d3a78"]]},{"id":"ffb84e51.f3c2d","type":"http in","z":"44deb5e5.fc253c","name":"","url":"/cmds","method":"post","upload":false,"swaggerDoc":"","x":110,"y":60,"wires":[["4ffe244d.5b58ac","7fbbbea7.61152"]]},{"id":"45963e6a.462f6","type":"function","z":"44deb5e5.fc253c","name":"serverReady","func":"msg.payload = \"serverReady\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":220,"wires":[["a43df843.acee08"]]},{"id":"9d986baf.e36348","type":"switch","z":"44deb5e5.fc253c","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"record_begin","vt":"str"},{"t":"cont","v":"record_end","vt":"str"},{"t":"cont","v":"audio_output_end","vt":"str"},{"t":"cont","v":"mycroft.speech.recognition.unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":340,"wires":[["978affd9.ae49b8"],["69dbdf86.ca933"],["1823c0ab.dadfcf"],["1823c0ab.dadfcf"]]},{"id":"4fce0851.891f9","type":"http request","z":"44deb5e5.fc253c","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.112:1801/cmds","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":280,"wires":[[]]},{"id":"a43df843.acee08","type":"http request","z":"44deb5e5.fc253c","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.112:1801/cmds","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":220,"wires":[[]]},{"id":"d2c86bd3.affa1","type":"function","z":"44deb5e5.fc253c","name":"sleep","func":"msg.payload = \"responseDone\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":360,"wires":[["4fce0851.891f9","8e5f5c97.116198"]]},{"id":"1823c0ab.dadfcf","type":"delay","z":"44deb5e5.fc253c","name":".","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":360,"wires":[["d2c86bd3.affa1"]]},{"id":"978affd9.ae49b8","type":"function","z":"44deb5e5.fc253c","name":"startMic","func":"msg.payload = \"startMic\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":280,"wires":[["4fce0851.891f9"]]},{"id":"e7654f32.4ef4e","type":"exec","z":"44deb5e5.fc253c","command":"XDG_RUNTIME_DIR=/run/user/1000 pactl set-sink-volume 0 1%","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume 1%","x":530,"y":160,"wires":[[],[],[]]},{"id":"8e5f5c97.116198","type":"exec","z":"44deb5e5.fc253c","command":"DISPLAY=:0 pactl set-sink-volume 0 40%","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume 40%","x":690,"y":360,"wires":[[],[],[]]},{"id":"3400dd2a.36ab12","type":"websocket in","z":"44deb5e5.fc253c","name":"mycroft","server":"4b57d254.4ca304","client":"","x":90,"y":340,"wires":[["9d986baf.e36348"]]},{"id":"774c4ef0.2d3a78","type":"websocket out","z":"44deb5e5.fc253c","name":"mycroft","server":"4b57d254.4ca304","client":"","x":700,"y":120,"wires":[]},{"id":"979dcba6.ddb47","type":"inject","z":"44deb5e5.fc253c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":340,"y":160,"wires":[["e7654f32.4ef4e"]]},{"id":"4b57d254.4ca304","type":"websocket-listener","path":"ws://127.0.0.1:8181/core","wholemsg":"false"}]
