mycroft-microphone-speaker/node-red-flow-mycroft-skill
[{"id":"4ffe244d.5b58ac","type":"template","z":"6d4110f.bf72b7","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"startMic command received!","output":"str","x":280,"y":40,"wires":[["7ea645d3.fc67cc"]]},{"id":"7ea645d3.fc67cc","type":"http response","z":"6d4110f.bf72b7","name":"","statusCode":"200","headers":{},"x":440,"y":40,"wires":[]},{"id":"69dbdf86.ca933","type":"function","z":"6d4110f.bf72b7","name":"stopMic","func":"msg.payload = \"stopMic\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["4fce0851.891f9"]]},{"id":"7fbbbea7.61152","type":"template","z":"6d4110f.bf72b7","name":"mycroft.mic.listen","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"type\":\"mycroft.mic.listen\",\"data\":{},\"context\":{}}","output":"str","x":310,"y":100,"wires":[["45963e6a.462f6","e7654f32.4ef4e","774c4ef0.2d3a78"]]},{"id":"ffb84e51.f3c2d","type":"http in","z":"6d4110f.bf72b7","name":"","url":"/cmds","method":"post","upload":false,"swaggerDoc":"","x":110,"y":40,"wires":[["4ffe244d.5b58ac","7fbbbea7.61152"]]},{"id":"45963e6a.462f6","type":"function","z":"6d4110f.bf72b7","name":"serverReady","func":"msg.payload = \"serverReady\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":510,"y":200,"wires":[["a43df843.acee08"]]},{"id":"9d986baf.e36348","type":"switch","z":"6d4110f.bf72b7","name":"filter","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"record_begin","vt":"str"},{"t":"cont","v":"record_end","vt":"str"},{"t":"cont","v":"audio_output_end","vt":"str"},{"t":"cont","v":"mycroft.speech.recognition.unknown","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":230,"y":320,"wires":[["978affd9.ae49b8"],["69dbdf86.ca933"],["1823c0ab.dadfcf"],["1823c0ab.dadfcf"]]},{"id":"4fce0851.891f9","type":"http request","z":"6d4110f.bf72b7","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.112:1801/cmds","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":260,"wires":[[]]},{"id":"a43df843.acee08","type":"http request","z":"6d4110f.bf72b7","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.112:1801/cmds","tls":"","persist":false,"proxy":"","authType":"","x":670,"y":200,"wires":[[]]},{"id":"d2c86bd3.affa1","type":"function","z":"6d4110f.bf72b7","name":"sleep","func":"msg.payload = \"responseDone\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":530,"y":340,"wires":[["4fce0851.891f9","8e5f5c97.116198"]]},{"id":"1823c0ab.dadfcf","type":"delay","z":"6d4110f.bf72b7","name":".","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":410,"y":340,"wires":[["d2c86bd3.affa1"]]},{"id":"978affd9.ae49b8","type":"function","z":"6d4110f.bf72b7","name":"startMic","func":"msg.payload = \"startMic\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":260,"wires":[["4fce0851.891f9"]]},{"id":"e7654f32.4ef4e","type":"exec","z":"6d4110f.bf72b7","command":"DISPLAY=:0 pactl set-sink-volume 0 1%","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume 1%","x":530,"y":140,"wires":[["29fd5270.26b076"],["29fd5270.26b076"],["29fd5270.26b076"]]},{"id":"8e5f5c97.116198","type":"exec","z":"6d4110f.bf72b7","command":"DISPLAY=:0 pactl set-sink-volume 0 40%","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"volume 40%","x":690,"y":340,"wires":[["29fd5270.26b076"],["29fd5270.26b076"],["29fd5270.26b076"]]},{"id":"3400dd2a.36ab12","type":"websocket in","z":"6d4110f.bf72b7","name":"mycroft","server":"4b57d254.4ca304","client":"","x":90,"y":320,"wires":[["9d986baf.e36348"]]},{"id":"774c4ef0.2d3a78","type":"websocket out","z":"6d4110f.bf72b7","name":"mycroft","server":"4b57d254.4ca304","client":"","x":700,"y":100,"wires":[]},{"id":"29fd5270.26b076","type":"debug","z":"6d4110f.bf72b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":870,"y":140,"wires":[]},{"id":"4b57d254.4ca304","type":"websocket-listener","path":"ws://127.0.0.1:8181/core","wholemsg":"false"}]
