wifi-button-microphone-stream/node-red-flow
[{"id":"fb439208.22001","type":"http in","z":"90f83de4.07fdb","name":"","url":"/cmds","method":"post","upload":false,"swaggerDoc":"","x":130,"y":80,"wires":[["ca4122aa.8aeae","e1ffaa28.a5669"]]},{"id":"ca4122aa.8aeae","type":"template","z":"90f83de4.07fdb","name":"response","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"startMic command received!","output":"str","x":300,"y":80,"wires":[["c348faed.ce7a2"]]},{"id":"c348faed.ce7a2","type":"http response","z":"90f83de4.07fdb","name":"","statusCode":"200","headers":{},"x":440,"y":80,"wires":[]},{"id":"4a25292d.c4699","type":"function","z":"90f83de4.07fdb","name":"stopMic","func":"msg.payload = \"stopMic\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":180,"wires":[["a9602ca7.4ec34"]]},{"id":"a9602ca7.4ec34","type":"http request","z":"90f83de4.07fdb","name":"post","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.3.110:1801/cmds","tls":"","persist":false,"proxy":"","authType":"","x":450,"y":180,"wires":[["3b1b0730.6478d8"]]},{"id":"e1ffaa28.a5669","type":"debug","z":"90f83de4.07fdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":310,"y":120,"wires":[]},{"id":"2ef4f6fd.b1363a","type":"inject","z":"90f83de4.07fdb","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":180,"wires":[["4a25292d.c4699"]]},{"id":"3b1b0730.6478d8","type":"debug","z":"90f83de4.07fdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":630,"y":180,"wires":[]}]
